# MongoDB
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/neonz

# NextAuth
NEXTAUTH_SECRET=generate-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000

# Seed admin (compte unique, pas d'inscription visiteur)
SEED_ADMIN_EMAIL=admin@neonz.dz
SEED_ADMIN_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
